<div id="wishlist_header" class="row">
  <h1><%= @wishlist.name %></h1>
  <% if @wishlist.user == spree_current_user %>
    <div id="manage_wishlist_links">
      <%= link_to Spree.t(:edit_wishlist), edit_wishlist_path(@wishlist), :class => 'button' %>
    </div>
    <div><%= render :partial => 'accessibility' %></div>
  <% end -%>
</div>
<%= render "wishlist" %>
<div class="footer_links" data-hook="wishlist_footer_links">
<% if @wishlist.user == spree_current_user %>
  <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, :class => "button" %>
<% end -%>
<%= link_to Spree.t(:continue_shopping), products_path, :class => "button" %>
<% if respond_to?(:email_to_friend_url) %>
  <%= link_to Spree.t('email_to_friend.send_to_friend'), email_to_friend_url('wishlist', @wishlist), :class => "button" %>
<% end %>
</div>
